<main>
<h2 id="1._Particles">1. Particles</h2>
<p></p>
<h3 id="1._2._は">1. 2. は</h3>
<p></p>
<p>* Marks the toppic of the sentence. </p>
<p>			It is placed after the toppic</p>
<p>  Noun は ____ です。</p>
<p></p>
<h3 id="1._3._の_">1. 3. の </h3>
<p></p>
<p>* Is used to connect two particles.</p>
<p>			It is placed between the nouns</p>
<p>  Noun の Noun です。</p>
<p>* Can also be paired with なん to explain what something is about.</p>
<p>  It is placed directly after なん</p>
<p>  Noun1は　なんの　Noun2　ですか。</p>
<p>  Noun2 defines the scope of the **what** question that is asked upon Noun1.</p>
<p>  (Noun１は）　Noun3の　Noun2　です。</p>
<p>  Noun1 is what gets explained and Noun3 is the explanation within Noun2 context.</p>
<p>  ex: これわ　なんの　りょうり　ですか。　What kind of dish is this?</p>
<p>  ex: (それわ)　とりにくの　りょうり　です。　(That) is a chicken dish.</p>
<p>* As with the previous example なん can be exchanged for だれ to explane **who** rather then **what**.</p>
<p>  There is no differenece in sentance structure with the exceprion that Noun2 can be ommitted in the answer.</p>
<p>  ex: これは　だれの　きょうかしょ　ですか。 Whose textbook is this?</p>
<p>ex: （それは）　わたしの　きょうかしょ　です。 (That) is my textbook.</p>
<p>  example with <a href="#1._5._も">も</a>)： このペンケースも　Aさんの　（ペンケース）　ですか。 Is this A-san's (pen case) as well?</p>
<p>* When placed inbetwean two nouns and the first is a place / country and the secound is a object it means that the object is made there.</p>
<p>  Noun1 の （Noun2） です。</p>
<p>  ex: (それわ)　ちゅうごくの　（れいぞうこ）　です。 (That) (refrigerator) is Chinese.</p>
<p>* Is used to denote relation to a location. Noun の place</p>
<p>  *Day 10 Lesson 4*</p>
<p></p>
<h3 id="1._4._か">1. 4. か</h3>
<p></p>
<p>* Marks that the sentence is a question</p>
<p>  	Placed at the end of the sentence</p>
<p></p>
<p>  ____ ですか。</p>
<p></p>
<h3 id="1._5._も">1. 5. も</h3>
<p></p>
<p>* Topic marker witch replaces は if the statement about the topic is the same.</p>
<p>  Could be thought of as **also**.</p>
<p>* When used in a negative sentance it changes the meaning of the noun it is after.</p>
<p>  ex: なにも　たべません。 I don't eat anything.</p>
<p>  In the example above **なに** changes meaning from **what** to "nothing" or "not anything" because of the way も is used with it.</p>
<p>  Further clearification, も combined with a negative verb negates the whole sentence.</p>
<p></p>
<h3 id="1._6._を">1. 6. を</h3>
<p></p>
<p>* Is used to indicate the direct object of a transitive verb.</p>
<p>  Noun を Verb ですか。</p>
<p></p>
<h3 id="1._7._と">1. 7. と</h3>
<p></p>
<p>* Connects two nouns in coordinate relation.</p>
<p>  Noun1 と Noun2</p>
<p>  The structure above can be used in the spot of a singular noun.</p>
<p>* Also mark the person or animal you are doing a somting together with. In this case と is placed after the person or animal.</p>
<p>  Personと Verbます。</p>
<p>  ex: （Aさんは）　だれと　（きょうとへ）　いきますか。 (A-san), who are you going to Kyoto with?</p>
<p>  ex: （わたしわ）　ともだちと　いきます。 (I) am going with a friend.</p>
<p>  ex: （わたしわ）　ひとりで　いきます。 (I) am going alone. :TODO Check if it is ます or ません</p>
<p>  <a href="#2._3._Expression">ひとりで</a>) replaces bouth と and the noun. It is a expression witch means by myself or alone.</p>
<p></p>
<h3 id="1._8._や">1. 8. や</h3>
<p></p>
<p>* Connects nouns in coordinate relation.</p>
<p>  Noun1 や Noun2</p>
<p>* Whilst と enumerates all the items や shows a few representative items.</p>
<p></p>
<h3 id="1._9._で">1. 9. で</h3>
<p></p>
<p>* Indicates the place an action occurs when it is placed after a noun denoting a place.</p>
<p>  Noun で Verb ます。</p>
<p>  ex: いつも　どこで　しゅくだいを　しますか。 Where do you usually do your homework?</p>
<p>  ex: としょかんで　します。 I do them at the library.</p>
<p>  *Day 4 Lesson 3*</p>
<p>* Indicates a tool or a mean used for an action. It marks the tool / mean, aka it is placed directly after.</p>
<p></p>
<h3 id="1._10._じ">1. 10. じ</h3>
<p></p>
<p>* Used with なん to ask for time.</p>
<p>  ex: いま　なんじ　ですか。 What time is it now?</p>
<p>  ex: よじ　じゅっぷん　です。 It is ten past four.</p>
<p></p>
<h3 id="1._11._に">1. 11. に</h3>
<p></p>
<p>* Is added when the noun before it uses a numeral.</p>
<p>  Nounに Verbか。</p>
<p>* Marks the time a action occurs. Aslong as the time is a numeral or it can also be added to the days of the week.</p>
<p>  Timeに Verbます。</p>
<p>  ex: （わたしわ）　さんがつ　じゅうごにちに　（にほんへ）　きました。 （I) arrived (in Japan) on March 15th.</p>
<p>  ex: (わたしわ)　らいねん　くにへ　かえります。 (I) will go back to my country next year.</p>
<p>* Verbs like あげます、かします、おしえます、おくります、でんわをかけます etc, need people to whom you give, lend, teach, send, call. </p>
<p>  Thise people are marked with に. 　Person に</p>
<p>* People from whom you recieve an action are also marked with に.</p>
<p></p>
<h3 id="1._12._へ">1. 12. へ</h3>
<p></p>
<p>* Is allways pronounced as [e] and not [he] when used as a particle</p>
<p>* Is placed after the noun that denotes the direction of movement when the following verb indicates a certain place.</p>
<p>  Nouneへ verbます。</p>
<p>  Note that へ can be ommited if if is used in combination with も and a negative verb as a answer. ex: （わたしは）　どこ　（へ）も　いきません。 (I) am not going anywhere.</p>
<p></p>
<h3 id="1._13._が">1. 13. が</h3>
<p></p>
<p>* Replaces を when it the following なAdjective requires a object. </p>
<p>  i.e. すき　きらい　じょうず</p>
<p>* Used as a subject marker</p>
<p>  Subject が</p>
<p></p>
<h3 id="1._14._(x)">1. 14. (x)</h3>
<p></p>
<p>This represent the absence of a particle</p>
<p></p>
<p>* Directly after a number and its <a href="#3._1._Counting">counter suffix</a>).</p>
<p></p>
<h3 id="1._15._より">1. 15. より</h3>
<p></p>
<p>* Used for comparison. For closer definition use jisho.</p>
<p>  ex: ちゅうごくは　にほんより　でっと　やすいです。 China is much cheaper *compared to* Japan.</p>
<p></p>
<h2 id="2._Words">2. Words</h2>
</main>
