<script>
	import Counter from '$components/Counter.svelte';
</script><main>
	<h1>Hello world!</h1>

	<Counter/>
  <p>わたしわなまえシンデレです。</p>


<h1>Some title</h1>
<h2>Some title</h2>
<h3>Some title</h3>
<h4>Some title</h4>
<h5>Some title</h5>
<h6>Some title</h6>

<ul>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>

<ol>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ol>

<ol>
	<li>Item</li>
	<li>
		<ul>
			<li>Item</li>
			<li>Item</li>
		</ul>
	</li>
	<li><pre>Item
	More of same Item</pre></li>
</ol>

<p>Some random paragraph</p>

<h1 id="Grammar">Grammar</h1>
<br>
<ol>
<a href="#Grammar"><li>Grammar</li></a>
<ol>
<a href="#1._Particles"><li>1. Particles</li></a>
<ol>
<a href="#1._1._は"><li>1. 1. は</li></a>

<a href="#1._2._の"><li>1. 2. の</li></a>

<a href="#1._3._か"><li>1. 3. か</li></a>

<a href="#1._4._も"><li>1. 4. も</li></a>

<a href="#1._5._を"><li>1. 5. を</li></a>

<a href="#1._6._と"><li>1. 6. と</li></a>

<a href="#1._7._や"><li>1. 7. や</li></a>

<a href="#1._8._で"><li>1. 8. で</li></a>

<a href="#1._9._じ"><li>1. 9. じ</li></a>

<a href="#1._10._に"><li>1. 10. に</li></a>

<a href="#1._11._へ"><li>1. 11. へ</li></a>

<a href="#1._12._が"><li>1. 12. が</li></a>

<a href="#1._13._(x)"><li>1. 13. (x)</li></a>

<a href="#1._14._より"><li>1. 14. より</li></a>
</ol>
<a href="#2._Words"><li>2. Words</li></a>
<ol>
<a href="#2._1._Questions"><li>2. 1. Questions</li></a>

<a href="#2._2._Referenses"><li>2. 2. Referenses</li></a>
<ol>
<a href="#2._2._1._Where_(objects_/_people)"><li>2. 2. 1. Where (objects / people)</li></a>

<a href="#2._2._2._Places"><li>2. 2. 2. Places</li></a>

<a href="#2._2._3._Time"><li>2. 2. 3. Time</li></a>
</ol>
<a href="#2._3._Expression"><li>2. 3. Expression</li></a>
<ol>
<a href="#2._3._1._Connector"><li>2. 3. 1. Connector</li></a>
</ol>
<a href="#2._4._Modifiers"><li>2. 4. Modifiers</li></a>
<ol>
<a href="#2._4._1._Verb"><li>2. 4. 1. Verb</li></a>
</ol></ol>
<a href="#3._Suffixes"><li>3. Suffixes</li></a>
<ol>
<a href="#3._1._Counting"><li>3. 1. Counting</li></a>

<a href="#3._2._Names"><li>3. 2. Names</li></a>
<ol>
<a href="#3._3._Time"><li>3. 3. Time</li></a>
</ol></ol>
<a href="#4._Inflection"><li>4. Inflection</li></a>
<ol>
<a href="#4._1._Verb"><li>4. 1. Verb</li></a>

<a href="#4._2._Adjective"><li>4. 2. Adjective</li></a>
</ol>
<a href="#Gramatical_definitions"><li>Gramatical definitions</li></a>

<a href="#Tings_im_unshure_how_i_want_to_include_in_this_document"><li>Tings im unshure how i want to include in this document</li></a>
</ol></ol>

<br>
<br>
<h2 id="1._Particles">1. Particles</h2>
<h3 id="1._1._は">1. 1. は</h3>
<ul>
<li><p> Marks the toppic of the sentence.</p><p>			It is placed after the toppic</p><p>  Noun は ____ です。</p></ul>
<h3 id="1._2._の">1. 2. の</h3>
<ul>
<li><p> Is used to connect two particles.</p><p>			It is placed between the nouns</p><p>  Noun の Noun です。</p></li>
<li><p> Can also be paired with なん to explain what something is about.</p><p>  It is placed directly after なん</p><p>  Noun1は　なんの　Noun2　ですか。</p><p>  Noun2 defines the scope of the <b>what</b> question that is asked upon Noun1.</p><p>  (Noun１は）　Noun3の　Noun2　です。</p><p>  Noun1 is what gets explained and Noun3 is the explanation within Noun2 context.</p><p>  ex: これわ　なんの　りょうり　ですか。　What kind of dish is this?</p><p>  ex: (それわ)　とりにくの　りょうり　です。　(That) is a chicken dish.</p></li>
<li><p> As with the previous example なん can be exchanged for だれ to explane <b>who</b> rather then <b>what</b>.</p><p>  There is no differenece in sentance structure with the exceprion that Noun2 can be ommitted in the answer.</p><p>  ex: これは　だれの　きょうかしょ　ですか。 Whose textbook is this?</p><p>ex: （それは）　わたしの　きょうかしょ　です。 (That) is my textbook.</p><p>  example with <a href="#1._5._も">も</a>： このペンケースも　Aさんの　（ペンケース）　ですか。 Is this A-san's (pen case) as well?</p></li>
<li><p> When placed inbetwean two nouns and the first is a place / country and the secound is a object it means that the object is made there.</p><p>  Noun1 の （Noun2） です。</p><p>  ex: (それわ)　ちゅうごくの　（れいぞうこ）　です。 (That) (refrigerator) is Chinese.</p></li>
<li><p> Is used to denote relation to a location. Noun の place</p><p>  <em>Day 10 Lesson 4</em></p></ul>
<h3 id="1._3._か">1. 3. か</h3>
<ul>
<li><p> Marks that the sentence is a question</p><p>  	Placed at the end of the sentence</p><p>  ____ ですか。</p></ul>
<h3 id="1._4._も">1. 4. も</h3>
<ul>
<li><p> Topic marker witch replaces は if the statement about the topic is the same.</p><p>  Could be thought of as <b>also</b>.</p></li>
<li><p> When used in a negative sentance it changes the meaning of the noun it is after.</p><p>  ex: なにも　たべません。 I don't eat anything.</p><p>  In the example above <b>なに</b> changes meaning from <b>what</b> to "nothing" or "not anything" because of the way も is used with it.</p><p>  Further clearification, も combined with a negative verb negates the whole sentence.</p></ul>
<h3 id="1._5._を">1. 5. を</h3>
<ul>
<li><p> Is used to indicate the direct object of a transitive verb.</p><p>  Noun を Verb ですか。</p></ul>
<h3 id="1._6._と">1. 6. と</h3>
<ul>
<li><p> Connects two nouns in coordinate relation.</p><p>  Noun1 と Noun2</p><p>  The structure above can be used in the spot of a singular noun.</p></li>
<li><p> Also mark the person or animal you are doing a somting together with. In this case と is placed after the person or animal.</p><p>  Personと Verbます。</p><p>  ex: （Aさんは）　だれと　（きょうとへ）　いきますか。 (A-san), who are you going to Kyoto with?</p><p>  ex: （わたしわ）　ともだちと　いきます。 (I) am going with a friend.</p><p>  ex: （わたしわ）　ひとりで　いきます。 (I) am going alone. :TODO Check if it is ます or ません</p><p>  <a href="#2._3._Expression">ひとりで</a> replaces bouth と and the noun. It is a expression witch means by myself or alone.</p></ul>
<h3 id="1._7._や">1. 7. や</h3>
<ul>
<li><p> Connects nouns in coordinate relation.</p><p>  Noun1 や Noun2</p></li>
<li><p> Whilst と enumerates all the items や shows a few representative items.</p></ul>
<h3 id="1._8._で">1. 8. で</h3>
<ul>
<li><p> Indicates the place an action occurs when it is placed after a noun denoting a place.</p><p>  Noun で Verb ます。</p><p>  ex: いつも　どこで　しゅくだいを　しますか。 Where do you usually do your homework?</p><p>  ex: としょかんで　します。 I do them at the library.</p><p>  <em>Day 4 Lesson 3</em></p></li>
<li><p> Indicates a tool or a mean used for an action. It marks the tool / mean, aka it is placed directly after.</p></ul>
<h3 id="1._9._じ">1. 9. じ</h3>
<ul>
<li><p> Used with なん to ask for time.</p><p>  ex: いま　なんじ　ですか。 What time is it now?</p><p>  ex: よじ　じゅっぷん　です。 It is ten past four.</p></ul>
<h3 id="1._10._に">1. 10. に</h3>
<ul>
<li><p> Is added when the noun before it uses a numeral.</p><p>  Nounに Verbか。</p></li>
<li><p> Marks the time a action occurs. Aslong as the time is a numeral or it can also be added to the days of the week.</p><p>  Timeに Verbます。</p><p>  ex: （わたしわ）　さんがつ　じゅうごにちに　（にほんへ）　きました。 （I) arrived (in Japan) on March 15th.</p><p>  ex: (わたしわ)　らいねん　くにへ　かえります。 (I) will go back to my country next year.</p></li>
<li><p> Verbs like あげます、かします、おしえます、おくります、でんわをかけます etc, need people to whom you give, lend, teach, send, call.</p><p>  Thise people are marked with に. 　Person に</p></li>
<li><p> People from whom you recieve an action are also marked with に.</p></ul>
<h3 id="1._11._へ">1. 11. へ</h3>
<ul>
<li><p> Is allways pronounced as [e] and not [he] when used as a particle</p></li>
<li><p> Is placed after the noun that denotes the direction of movement when the following verb indicates a certain place.</p><p>  Nouneへ verbます。</p><p>  Note that へ can be ommited if if is used in combination with も and a negative verb as a answer. ex: （わたしは）　どこ　（へ）も　いきません。 (I) am not going anywhere.</p></ul>
<h3 id="1._12._が">1. 12. が</h3>
<ul>
<li><p> Replaces を when the following なAdjective requires a object.</p><p>  i.e. すき　きらい　じょうず</p></li>
<li><p> Used as a subject marker</p><p>  Subject が</p></ul>
<h3 id="1._13._(x)">1. 13. (x)</h3>
<p>This represent the absence of a particle</p>
<br>
<ul>
<li><p> Directly after a number and its <a href="#3._1._Counting">counter suffix</a>.</p></ul>
<h3 id="1._14._より">1. 14. より</h3>
<ul>
<li><p> Used for comparison. For closer definition use jisho.</p><p>  ex: ちゅうごくは　にほんより　でっと　やすいです。 China is much cheaper <em>compared to</em> Japan.</p></ul>
<h2 id="2._Words">2. Words</h2>
<h3 id="2._1._Questions">2. 1. Questions</h3>
<ul>
<li><p> <b>なん</b> or <b>なに</b></p><p>  What</p><p>  なん is also used for how to say someting.　これはにほんごで<b>なん</b>ですか。</p></li>
<li><p> <b>だれ</b></p><p>  Who</p></li>
<li><p> <b>どこ</b></p><p>  Where</p></li>
<li><p> <b>いくら</b></p><p>  How much</p></li>
<li><p> <b>なんいん</b></p><p>  How many people</p><p>  Uses no connecting particle after.</p></li>
<li><p> <b>どう</b></p><p>  How is</p><p>  Used to ask the listener about an inpression or an opinion about a thing, place or person etc.</p></li>
<li><p> <b>どんな</b></p><p>  Used when the speaker want to ask the listener to describe or explain the following noun.</p><p>  Pattern, どんな Noun ですか。</p></li>
<li><p> <b>どれ</b></p><p>  Is used to ask the listener to chouse one from more than two things curently shown or named.</p></li>
<li><p> <b>あり</b></p><p>  Is used to indicate the excistence or presence of a thing. The thing in such a sentence is treated like the subject and thus marked with the が particel. The place that is in question is marked with the に partikle</p></li>
<li><p> <b>いま</b></p><p>  Is used to indicate the excistence or presence of a person or an animal. The thing in such a sentence is treated like the subject and thus marked with the が particel. The place that is in question is marked with the に partikle</p></li>
<li><p> <b>どちら</b></p><p>  This interrogative particle is used to ask the listener to choose between two items.</p><p>  Item1 と Item2 と どちらが Adjective ですか。</p><p>  Deciding answers use this form. <em> </em> ＿＿＿　の　ほうが ＿＿＿　です。</p><p>  Selecting bouth use this form. <em> </em>  どちらも＿＿＿です。</p><p>  ex: かんじと　カタカナと　どちらが　むずかしいですか。 Whitch is more difficult, kanji or katakana?</p><p>  ex: かんじの　ほうが　むずかしです。 Kanji is more difficult.</p><p>  ex: どちらも　むずかしです。 They are bouth difficult.</p></ul>
<h3 id="2._2._Referenses">2. 2. Referenses</h3>
<h4 id="2._2._1._Where_(objects_/_people)">2. 2. 1. Where (objects / people)</h4>
<ul>
<li><p> <b>この</b></p><p>  This</p><p>  Refers to a thing near the speaker</p></li>
<li><p> <b>その</b></p><p>  That</p><p>  Refers to a thing near the listener</p></li>
<li><p> <b>あの</b></p><p>  That over there</p><p>  Refers to a thing that is neither near the listener nor the speaker. Use other clues to isolate the object as color or pointing and so on.</p></ul>
<h4 id="2._2._2._Places">2. 2. 2. Places</h4>
<ul>
<li><p> <b>ここ</b></p><p>  Here</p><p>  Refers to where the speaker is</p></li>
<li><p> <b>そこ</b></p><p>  There</p><p>  Refers to where the listener is</p></li>
<li><p> <a href="#2._2._3._Time">から and まで</a></p></ul>
<h4 id="2._2._3._Time">2. 2. 3. Time</h4>
<ul>
<li><p> <b>から</b></p><p>  Indicates the starting time or place</p></li>
<li><p> <b>まで</b></p><p>  Indicates the finishing time or place</p></ul>
<h3 id="2._3._Expression">2. 3. Expression</h3>
<ul>
<li><p> <b>ひとりで</b></p><p>  By myself</p><p>  Alone</p></li>
<li><p> <b>ませんか</b></p><p>  This expression is added after the verb of the sentance if you want to invite someone to do something.</p><p>  ex: こんばん　いっしょに　ごはんを　たべませんか。 Won't you eat dinner with us tonight? (I'd change won't you with will you or do you want to.)</p></li>
<li><p> <b>にします</b></p><p>  Expresses a decision or a selection. It's commonly used to order something in a shop or a restaurante.</p><p>  In this case, に is the used particle that marks the previouse noun. In a normal question for this it would be なん.</p></ul>
<h4 id="2._3._1._Connector">2. 3. 1. Connector</h4>
<ul>
<li><p> <b>そして</b></p><p>  Connects two phrases that is bouth eather positive or negative</p></li>
<li><p> <b>が</b></p><p>  Connects two phrases where one is positive and the other is negative. The orientation of positive to negative does not matter.</p></li>
<li><p> <b>から</b></p><p>  Connects two sentances together. Telling that the first sentance is the reason for the secound one.</p><p>  because</p><p>  Sentance1。Sentance2。　ー＞　Sentance1 から、 sentance2。</p><p>  The first sentance can be ommitted when used as a answer to a why question</p><p>  ex: どうしと　にほんごを　べんきょうしますか。 Why did you study Japanese?</p><p>  ex: にほんの　アニメが　だいすきですから。 Because (I) really like Japanese anime.</p></ul>
<h3 id="2._4._Modifiers">2. 4. Modifiers</h3>
<h4 id="2._4._1._Verb">2. 4. 1. Verb</h4>
<ul>
<li><p> positive</p><p>  よく　　　　　だいたい　　　　　すくし (might be すこし)</p><p>  well, much　　mostly, roughly　　a little</p></li>
<li><p> negative</p><p>  あまり　　　　ぜんぜん</p><p>  not much　　  not at all</p></ul>
<h2 id="3._Suffixes">3. Suffixes</h2>
<h3 id="3._1._Counting">3. 1. Counting</h3>
<ul>
<li><p> <b>つ</b></p><p>  Things</p></li>
<li><p> <b>にん</b></p><p>  People</p><p>  Exceptions, ひとり one person and ふたり two people</p></ul>
<h3 id="3._2._Names">3. 2. Names</h3>
<ul>
<li><p> <b>さん</b></p><p>  Used to honor a person. NEVER YOUR SELF</p></ul>
<h4 id="3._3._Time">3. 3. Time</h4>
<ul>
<li><p> <b>じ</b></p><p>  Used at the end of hour (number)</p></li>
<li><p> <b>っぷん</b></p><p>  Used at the end of minute (number) with exceptions for 2, 5, 7 and 9 witch uses <b>ふん</b></p></ul>
<h2 id="4._Inflection">4. Inflection</h2>
<p>In japanese there is only the past and present tens. The future uses the same infliction as the present</p>
<br>
<h3 id="4._1._Verb">4. 1. Verb</h3>
<ul>
<li><p> Present</p><p>  Formal: ます</p></li>
<li><p> Past</p><p>  Formal: ました</p></ul>
<h3 id="4._2._Adjective">4. 2. Adjective</h3>
<ul>
<li><p> <b>い</b></p><p>  いAdjectives are all adjectives that end in an い sound. This does not include words ending in えい or similar endings since it is not probounced as い.</p><p>  When connected with a formal endig i.e. です then you keep the trailing い</p><p>  example words: おいしい　たかい　おおきい　むずかしい　おもしろい</p><p>  Exceptions in negative form. いい ー＞ よくない</p><p>  Negative form of です:　くないです。</p></ul>
<ul>
<li><p> <b>な</b></p><p>  なAdjectives are all other ajectives that are not いadjectives.</p><p>  When connected with a formal ending i.e. です then you remove the trailing な if there is one.</p><p>  example words: しずか　にぎやか　しんせつ　きれい　ゆうめい</p><p>  な can be ommiten in the negative form.</p><p>  Negative form of です:　じゃありません。</p><p>  When used befor a noun there needs to be a な</p></ul>
<h2 id="Gramatical_definitions">Gramatical definitions</h2>
<ol>
<li><p> Verb</p><p>   Verbs are words that show an action (singing)</p></li>
<li><p> Transitive verb</p><p>   Transitive verbs are verbs whitch can tale a direct object (sing in tune)</p></li>
<li><p> Noun</p><p>   A noun is a word that refers to a thing (book), a person (Sindre Brurberg), an animal (cat), a place (Japan), a quality (softness), an idea (justice) or an action (yodeling). It is usually a single word, but not always.</p></ol>
<h2 id="Tings_im_unshure_how_i_want_to_include_in_this_document">Tings im unshure how i want to include in this document</h2>
<br>
<p>![Day12 Lesson4 grammar](/home/sindre/day12-lesson4-grammar.jpg)</p>
<br>
<br>
<p><code>var i int</code></p>


</main>
<style>
	:root {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	pre {
	  font-family: inherit !important;
	  padding: 1em !important;
	  white-space: pre-line !important;
	  text-align: left !important;
	}
</style>